<div class="home">
  <p>
    Esquema pra estudar.
  </p>
  <ul>
    <li>Você precisa aprender só as palavras, o plural é pra reconhecer.</li>
    <li>Com verbos é importante também praticar com as formas, e escrever.</li>
    <li>Quando você abre esta aplicacão, você não precisa mais o connecão do internet.</li>
  </ul>

  <table>
    <tr>
      <th>Semana</th>
      <th>Materiais</th>
    </tr>
    <tr>
      <td rowspan="2">20/8 - 26/8</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
      </td>
    </tr>
    <tr>
      <td>
          <div class="head">Repetir</div>
          -
      </td>
    </tr>
    <tr>
      <td rowspan="2">27/8 - 2/9</td>
      <td>
        <div class="head">Estudar</div>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
        general - Meses<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">3/9 - 9/9</td>
      <td>
        <div class="head">Estudar</div>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
        general - Meses<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">10/9 - 16/9</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">17/9 - 23/9</td>
      <td>
        <div class="head">Estudar</div>
        general - Adverbios<br/>
        general - Tempo<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">24/9 - 30/9</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
        general - Adverbios<br/>
        general - Tempo<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">1/10 - 7/10</td>
      <td>
        <div class="head">Estudar</div>
        general - General<br/>
        general - Perguntas<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">8/10 - 14/10</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
        general - Meses<br/>
        general - General<br/>
        general - Perguntas<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">15/10 - 21/10</td>
      <td>
        <div class="head">Estudar</div>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">22/10 - 28/10</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - Adverbios<br/>
        general - Tempo<br/>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">29/10 - 4/11</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Communicar<br/>
        Palavras - Fora da casa<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">5/11 - 11/11</td>
      <td>
        <div class="head">Estudar</div>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
        general - General<br/>
        general - Perguntas<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">12/11 - 18/11</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">19/11 - 25/11</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Esportes<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - Adverbios<br/>
        general - Tempo<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">26/11 - 2/12</td>
      <td>
        <div class="head">Estudar</div>
        -
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
        general - Meses<br/>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
        Verbos - Esportes<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">3/12 - 9/12</td>
      <td>
        <div class="head">Estudar</div>
        Verbos - Actividades<br/>
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - General<br/>
        general - Perguntas<br/>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
        Verbos - Communicar<br/>
        Palavras - Fora da casa<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">10/12 - 16/12</td>
      <td>
        <div class="head">Estudar</div>
        -
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - Adverbios<br/>
        general - Tempo<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
        Verbos - Actividades<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">17/12 - 23/12</td>
      <td>
        <div class="head">Estudar</div>
        -
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
        Verbos - Communicar<br/>
        Palavras - Fora da casa<br/>
        Verbos - Esportes<br/>
      </td>
    </tr>
    <tr>
      <td rowspan="2">24/12 - 30/12</td>
      <td>
        <div class="head">Estudar</div>
        -
      </td>
    </tr>
    <tr>
      <td>
        <div class="head">Repetir</div>
        general - General<br/>
        general - Perguntas<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
        Verbos - Actividades<br/>
      </td>
    </tr>
  </table>
</div>