<div class="home">
  <p>
    Esquema pra estudar.
  </p>
  <ul>
    <li>Você precisa aprender só as palavras, o plural é pra reconhecer.</li>
    <li>Com verbos é importante também praticar com as formas, e escrever.</li>
    <li>Quando você abre esta aplicacão, você não precisa mais o connecão do internet.</li>
  </ul>

  <table>
    <tr>
      <th>Semana</th>
      <th>Estudar</th>
      <th>Repetir</th>
    </tr>
    <tr>
      <td>20/8 - 26/8</td>
      <td>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>27/8 - 2/9</td>
      <td>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
      </td>
      <td>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
      </td>
    </tr>
    <tr>
      <td>3/9 - 9/9</td>
      <td>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
      </td>
      <td>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
      </td>
    </tr>
    <tr>
      <td>10/9 - 16/9</td>
      <td>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
      </td>
      <td>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
      </td>
    </tr>
    <tr>
      <td>17/9 - 23/9</td>
      <td>
        general - Adverbios<br/>
        general - Tempo<br/>
      </td>
      <td>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
      </td>
    </tr>
    <tr>
      <td>24/9 - 30/9</td>
      <td>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
      </td>
      <td>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
        general - Adverbios<br/>
        general - Tempo<br/>
      </td>
    </tr>
    <tr>
      <td>1/10 - 7/10</td>
      <td>
        general - General<br/>
        general - Perguntas<br/>
      </td>
      <td>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
      </td>
    </tr>
    <tr>
      <td>8/10 - 14/10</td>
      <td>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
      </td>
      <td>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
        general - General<br/>
        general - Perguntas<br/>
      </td>
    </tr>
    <tr>
      <td>15/10 - 21/10</td>
      <td>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
      </td>
      <td>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
      </td>
    </tr>
    <tr>
      <td>22/10 - 28/10</td>
      <td>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
      </td>
      <td>
        general - Adverbios<br/>
        general - Tempo<br/>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
      </td>
    </tr>
    <tr>
      <td>29/10 - 4/11</td>
      <td>
        Verbos - Communicar<br/>
        Palavras - Fora da casa<br/>
      </td>
      <td>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
      </td>
    </tr>
    <tr>
      <td>5/11 - 11/11</td>
      <td>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
      </td>
      <td>
        Verbos - Irregulares<br/>
        general - Pronomes<br/>
        general - Pronome pessoal<br/>
        general - Pronomes possessivos<br/>
        general - General<br/>
        general - Perguntas<br/>
      </td>
    </tr>
    <tr>
      <td>12/11 - 18/11</td>
      <td>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
      </td>
      <td>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
      </td>
    </tr>
    <tr>
      <td>19/11 - 25/11</td>
      <td>
        Verbos - Esportes<br/>
      </td>
      <td>
        general - Adverbios<br/>
        general - Tempo<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
      </td>
    </tr>
    <tr>
      <td>26/11 - 2/12</td>
      <td>-</td>
      <td>
        general - Dias<br/>
        general - Numeros<br/>
        general - Cor<br/>
        Palavras - Paises<br/>
        Palavras - Familia e gentes<br/>
        Palavras - Roupas<br/>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
        Verbos - Esportes<br/>
      </td>
    </tr>
    <tr>
      <td>3/12 - 9/12</td>
      <td>
        Verbos - Actividades<br/>
      </td>
      <td>
        general - General<br/>
        general - Perguntas<br/>
        Palavras - Communicacao<br/>
        Palavras - Estudo<br/>
        Verbos - Communicar<br/>
        Palavras - Fora da casa<br/>
      </td>
    </tr>
    <tr>
      <td>10/12 - 16/12</td>
      <td>-</td>
      <td>
        general - Adverbios<br/>
        general - Tempo<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
        Verbos - Em casa<br/>
        Palavras - Em casa<br/>
        Palavras - Coisas<br/>
        Palavras - Transporte<br/>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
        Verbos - Actividades<br/>
      </td>
    </tr>
    <tr>
      <td>17/12 - 23/12</td>
      <td>-</td>
      <td>
        Verbos - General<br/>
        Palavras - Comidas e bebidas<br/>
        Palavras - Animais<br/>
        Verbos - Cozinha<br/>
        Palavras - Profissoes<br/>
        Verbos - Communicar<br/>
        Palavras - Fora da casa<br/>
        Verbos - Esportes<br/>
      </td>
    </tr>
    <tr>
      <td>24/12 - 30/12</td>
      <td>-</td>
      <td>
        general - General<br/>
        general - Perguntas<br/>
        Verbos - Vida<br/>
        general - Preposicoes<br/>
        Verbos - Saúde<br/>
        Palavras - Corpo e saude<br/>
        Verbos - Actividades<br/>
      </td>
    </tr>
  </table>
</div>