<div class="general">
  <div *ngIf="groups !== undefined" class="groups clearfix">
      <div *ngFor="let generals of groups" class="group" (click)="selectGroup(generals)">{{ generals.title }}</div>
  </div>

  <div *ngIf="currentGroup !== undefined">
    <h2>{{ currentGroup.title }}</h2>

    <table>
      <tr>
        <th>Portugues</th>
        <th>Holandes</th>
        <th>Explicacao</th>
      </tr>
      <tr>
        <td></td>
        <td>
          <button (click)="practice()">{{ hideSolution ? "Pare" : "Comece" }}</button>
          <button (click)="clear()" *ngIf="hideSolution">Apagar solucoes</button>
        </td>
        <td></td>
      </tr>
      <tr *ngFor="let word of currentGroup.content">
        <td>{{ word.palavra }}</td>
        <td *ngIf="!hideSolution || word.isGoed">{{ word.woord }}</td>
        <td *ngIf="hideSolution && !word.isGoed"><input type="text" (change)="evaluate(word)" [(ngModel)]="word.oplossing" /></td>
        <td>{{ word.uitleg }}</td>
      </tr>
    </table>
  </div>
</div>