<div class="converse">
  <div *ngIf="groups !== undefined" class="groups clearfix">
      <div *ngFor="let converse of groups" class="group" (click)="selectGroup(converse)">{{ converse.title }}</div>
  </div>

  <div *ngIf="current !== undefined">
    <h2>{{ current.title }}</h2>

    <audio *ngIf="current.audio" controls>
      <source src="{{ current.audio }}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <div class="table">
      <div class="row action clearfix">
        <button (click)="switchPortugees()">{{ showPortugees ? "Sem Português" : "Com Português" }}</button>
      </div>
      <div class="row content clearfix" *ngFor="let senha of current.content">
        <div class="col" [ngClass]="{'left':senha.audience === 'first','right':senha.audience === 'second'}" (click)="play(senha.audio)">
          <div class="hol">{{ senha.audio ? '[&#9658;]' : '' }} {{ senha.zin }}</div>
          <div class="por" *ngIf="showPortugees">{{ senha.senha }}</div>
        </div>
      </div>
    </div>
  </div>
</div>